.center-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 50%;
    padding: 1em;

}

.form-icon {
    width: 70px;
    height: auto;
}

.center-icon-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 50%;
}
