.bg-image-14 {
    background-image: url(base/media/imgs/endo-14.png);
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-size: cover; /* Faz a imagem se adaptar ao tamanho do contêiner */
    background-position: center; /* Centraliza a imagem no contêiner */
}

.bg-image-12 {
    background-image: url(base/media/imgs/endo-12.png);
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-size: cover; /* Faz a imagem se adaptar ao tamanho do contêiner */
    background-position: center; /* Centraliza a imagem no contêiner */
}
.center-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 50%;
    padding: 1em;

}

.form-icon {
    width: 70px;
    height: auto;
}

.center-icon-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 50%;
}

.d-flex-colum {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 3em;
    border-radius: 1em;
    margin: 0 auto;
}

.outside-inside-flex-column {
    display: flex;
    gap: 1em;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.inside-d-flex-column {
    display: grid;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    width: 32%;
    min-width: 300px;
    height: auto;
    border-radius: 1em;
    text-align: left;
    padding: 3em;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
                0 2px 4px rgba(0, 0, 0, 0.08); 

    & span {
        font-size: 2.3em;
        color: #40b9fa;
    }
    
    & h4 {
        color: #40b9fa;
    }
}

@media (max-width: 768px) {
    .d-flex-colum {
        width: 100%;
        padding: 2em;
    }

    .inside-d-flex-column {
        width: 100%;
        padding: 2em;
    }
}
