body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    color: #7b7a7b;
    background-color: #FFFFFF;
}

.header-space{
    padding: 4em;
    background-color: #1d201d;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101110;
    padding: 30px;
    padding-right: 70px;
    height: 150px;
    transition: height 0.3s ease, padding 0.3s ease;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header.shrink {
    height: 70px;
    padding: 30px;
    padding-right: 70px;
}

.logo img {
    height: 100px;
    border-radius: 1em;
    box-shadow: 5px 15px 12px rgba(0, 0, 0, 0.1);
}

.small-icon {
    height: 1.5em;
    padding-left: 20px;
}

.small-icon-02 {
    height: 51px;
    padding-left: 20px;
}

nav {
    margin-top: 0px;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin: 0 15px;
    position: relative;
    display: flex;
    align-items: center;
}

nav ul li a,
summary {
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: 0.3s;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a:hover,
summary:hover {
    color: #40b9fa;
    text-decoration: none;
}

summary::marker {
    color: white;
}

.marked-summary {
    color: #40b9fa;
}

details {
    position: relative;
}

details ul {
    position: absolute;
    top: 100%;
    left: -105%;
    margin-left: -50%;
    animation: fadeIn 0.5s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #1d201d;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    text-align: center;
    z-index: 1;
}

details ul li {
    margin: 0;
    padding: 0;
    height: auto;
}

details ul li a {
    display: block;
    padding: 1.1em;
    color: white;
    text-decoration: none;
    transition: 0.2s;
    width: 12em;
}

.details-social-media-01:hover {
    color: rgb(46, 130, 255);
}

.details-social-media-02 {
    transition: 0.2s;
}

.details-social-media-02:hover {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.details-social-media-03 {
    /* Comments */
}

.details-social-media-03:hover {
    color: rgb(61, 163, 52);
}

.details-social-media-04 {
    /* Comments */
}

.details-social-media-04:hover {
    color: rgb(255, 80, 80);
}

.li-border-bottom {
    border-bottom: solid 1px rgb(61, 61, 61);
}

.ul-color-grid {
    background-color: rgba(29, 32, 29, 0.719);
    display: grid;
}

details summary {
    list-style: none;
    cursor: pointer;
    font-size: 1.06em;
    color: white;
    padding: 0;
    margin: 0;
    transition: 0.2s;
}

details summary:hover {
    color: #34b4f2;
}

details[open] summary {
    color: #34b4f2;
}

.menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.carousel {
    width: 100%;
    height: 40em;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    transition: opacity 1s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item.fade-out-dark {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item.fade-out-dark.show {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    bottom: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background: none;
    font-size: 1.76em;
    color: #fff;
    transition: color 0.2s ease, transform 0.2s ease;
}

.carousel-control-prev-icon::before {
    content: '\f060';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.carousel-control-next-icon::before {
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    color: #f0f0f0;
    transform: scale(1.1);
}

.content {
    flex: 1;
    background-color: #FFFFFF;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 10px;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    margin-top: 0px;
}

.shadow-box {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.144);
    padding-bottom: 1em;
    padding-right: 5%;
    border-radius: 1em;
    background-color: #ffffff;
    height: auto;
    width: 100%;
}

.content-image {
    margin-left: -20px;
    margin-top: -20px;
    height: auto;
    width: auto;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.329);
}

.espelhar-horizontal {
    transform: scaleX(-1);
}

.content p {
    font-size: 1em;
}

.content-01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 350px;
    margin: 0px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 550px;
    border-radius: 1em;
    background-color: #FFFFFF;
    text-align: center;
}

.inside-content-01 {
    border: 0px;
    margin: 0px;
    padding: 50px;
    text-align: center;
    width: 40%;
    height: auto;
}

.btn {
    background-color: #1d201d;
    color: #ffffff;
    width: auto;
    height: 50px;
    font-size: 1em;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    padding: 10px 20px;
    border: none;
    border-radius: 0.8em;
    text-align: center;
}

.btn:hover {
    background-color: #34b4f2;
    color: white;
    border-radius: 0px;
}

.btn01 {
    background-color: #1d201d;
    color: #ffffff;
    width: 450px;
    margin-top: 20px;
    height: 55px;
    font-size: 15px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    padding: 10px 20px;
    margin-top: 0px;
    border: none;
    border-radius: 0.8em;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(189, 189, 189, 0.6);
}

.btn01:hover {
    background-color: #34b4f2;
    color: white;
    box-shadow: 10px 10px 30px rgba(189, 189, 189, 0.6);
    border-radius: 0px;
}

hr {
    width: 90%;
    max-width: 700px;
    border: 1px solid rgb(233, 233, 233);
    margin: 1em auto;
    display: block;
    opacity: 0.7;
}

.hr-01 {
    width: 80%;
    max-width: 450px;
    border: 1px solid #ffffff;
    margin: 1em auto;
    display: block;
    opacity: 0.7;
}

.hr-02 {
    width: 90%;
    max-width: 500px;
    border: 1px solid rgba(43, 43, 43, 0.151);
    margin: 1em auto;
    display: block;
    opacity: 0.7;
}

.content-card-final {
    /* padding: 80px; */
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

footer {
    background-color: #1d201d;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
}

.footer-icons-social-media {
    color: white;
    margin: 0 10px;
    transition: 0.3s;
}

.footer-icons-social-media:hover {
    color: #40b9fa;
    margin: 0 10px;
}


.fade-in-class {
    animation: fadeIn 0.1s ease-in-out;
    animation-fill-mode: forwards;
}

@media (max-width: 1085px){
    .shadow-box {
        width: auto;
    }
    .content{
        padding-left: 2%;
        padding-right: 2%;
    }
    .inside-content-01{
        width: auto;
        margin: 1.5em;
    }
    header{
        padding: 1em;
    }
    nav{
        padding: 0px;
    }
    nav ul li a , nav ul li summary{
        font-size: 1.02em !important;
    }
    header.shrink{
        padding: 1em;
    }
}


@media (max-width: 920px) {
    .btn {
        text-align: center;
        height: auto;
    }
    header{
        padding: 1em;
    }
    nav{
        padding: 0px;
    }
    header.shrink{
        padding: 1em;
    }
}

@media screen and (max-width: 900px) {
    .content {
        padding: 0px;
        padding-top: 2em;
        margin: 0px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 15px;
        padding-right: 15px;
    }

    .logo img {
        height: 70px;
    }

    .small-icon,
    .small-icon-02 {
        height: 1.3em;
    }

    nav ul {
        align-items: center;
    }

    nav ul li {
        display: inline;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .carousel {
        height: 300px;
    }

    .content {
        padding: 20px;
        padding-bottom: 10px;
    }

    .shadow-box {
        flex-direction: column;
        padding: 10px;
        padding-right: 10px;
        margin: 20px;
        margin-bottom: 0px;
    }
    .text-justify{
        text-align: left !important;
        padding: 10px;
    }

    .content-image {
        margin: 10px auto 10px auto;
        height: 100px;
        width: auto;
    }

    .content-01 {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .inside-content-01 {
        width: auto;
        height: 350px;
    }

    .btn,
    .btn01{
        width: 100%;
        height: auto;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer p {
        margin-bottom: 10px;
    }

    .footer-icons-social-media {
        margin: 5px;
    }

    #navMenu {
        display: flex;
    }
}

@media (max-width: 853px) {
    .btn01{
        padding: 15px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 1em;
        font-size: 13px;
    }
}
@media (max-width: 480px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #101110;
        padding: 6em;
        height: auto;
        position: static;
        width: 100%;
    }

    header.shrink {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #101110;
        padding: 30px;
        height: auto;
        position: static;
        width: 100%;
    }

    .header-space{
        padding: 0em;
        background-color: #1d201d;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    nav ul li {
        display: block;
        padding: 10px 0;
        margin: 0;
        font-size: 16px;
        text-align: center;
    }
    
    details ul {
        left: -135%;
        padding: 1.1em;
    }
    .details-contato {
        left: -121%;
        padding: 1.1em;
    }

    details ul li {
        margin: 0;
        padding: 0;
    }

    details ul li a {
        display: block;
        padding: 10px;
        color: white;
        text-decoration: none;
        transition: background-color 0.2s;
        font-size: 13px;
        text-align: center;
    }

    .logo img {
        max-width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .small-icon,
    .small-icon-02 {
        height: 1.1em;
    }

    .content {
        padding: 0px;
        margin: 0px;
    }

    .shadow-box {
        padding: 10px;
    }

    .content p {
        font-size: 14px;
        padding: 1em;
    }

    .content-01 {
        width: 100%;
    }

    .inside-content-01 {
        width: auto;
        height: auto;
        margin: 20px;
    }

    footer p {
        font-size: 12px;
    }
    .btn {
        background-color: #34b4f2;
        color: #ffffff;
        font-size: 12px;
        border-radius: 1em;
        margin: 10px 0;
        padding: 10px;
        text-align: center;
        height: auto;
        line-height: 1.5;
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
    }
    h3 {
        text-align: center;
        margin: 10px 0;
    }

    .content-card-final {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .center-icon-02 {
        padding-top: 0px;
    }

    .form-inscricao {
        width: 92%;
    }

    .content-cursos {
        margin: 10px 0;
    }

    .responsive-h3 {
        margin: 0.5em 0;
    }

    .responsive-h3-02 {
        margin: 0.2em 0;
        padding: 0.6em;
        padding-bottom: 0px;
    }

    .img-med {
        height: 200px;
    }

    .menu-icon {
        display: block;
        padding-top: 1.5em;
        padding-bottom: 1em;
    }

    nav ul.show {
        display: flex;
    }

    #navMenu {
        display: none;
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #101110;
        z-index: 1000;
        animation: slideDown 0.5s ease-in-out;
        margin: 0;
        padding: 0;
    }

    #navMenu.show {
        display: block;
    }
}

/* @keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-class {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}