body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    color: #7b7a7b;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101110;
    padding: 30px;
    padding-right: 70px;
    height: 120px;
    transition: height 0.3s ease, padding 0.3s ease;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header.shrink {
    height: 70px;
    padding: 15px;
    padding-right: 70px;
}

.logo img {
    height: 60px;
}

.small-icon {
    height: 45px;
    padding-left: 20px;
}

.small-icon-02 {
    height: 51px;
    padding-left: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 30px;
    position: relative;
    display: flex;
    align-items: center;
}

nav ul li a,
summary {
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: 0.3s;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a:hover,
summary:hover {
    color: #229251;
    text-decoration: none;
}

summary::marker {
    color: white;
}

details {
    position: relative;
}

details ul {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeIn 0.5s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #1d201d;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

    text-align: center;
    z-index: 1;
}

details ul li {
    margin: 0;
    padding: 0;
    height: auto;
}

details ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
    width: 170px;
}

details ul li a:hover {
    /* color: #229251; */
}
.details-social-media-01{
    /* Comments */
}
.details-social-media-01:hover{
    color: rgb(46, 130, 255);
}
.details-social-media-02{
    /* Comments */
    transition: 0.2s;
}
.details-social-media-02:hover{
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.details-social-media-04{
    /* Comments */
}
.details-social-media-04:hover{
    color: rgb(255, 93, 43);
}

.li-border-bottom {
    border-bottom: solid 1px rgb(61, 61, 61);
}

.ul-color-grid {
    background-color: rgba(29, 32, 29, 0.719);
    display: grid;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

details summary {
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
    padding: 0;
    margin: 0;
    transition: 0.2s;
}

details summary:hover {
    color: #229251;
}

details[open] summary {
    color: #229251;
}

.carousel {
    width: 100%;
    height: 600px;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    transition: opacity 1s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item.fade-out-dark {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item.fade-out-dark.show {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    bottom: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background: none;
    font-size: 30px;
    color: #fff;
    transition: color 0.2s ease, transform 0.2s ease;
}

.carousel-control-prev-icon::before {
    content: '\f060';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.carousel-control-next-icon::before {
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    color: #f0f0f0;
    transform: scale(1.1);
}

.content {
    flex: 1;
    background-color: #ffffff;
    padding: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 10px;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    margin-top: 0px;
}

.shadow-box {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-right: 17.9%;
    border-radius: 1em;
    background-color: #ffffff;
    height: auto;
}

.content-image {
    margin-right: 20px;
    margin-left: 5px;
    height: 150px;
    width: auto;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
}

.content p {
    font-size: 16px;
}

.content-01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 450px;
    height: 350px;
    margin: 0px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 550px;
    border-radius: 1em;
    background-color: #ffffff;
    text-align: center;
}

.btn {
    background-color: #1d201d;
    color: #ffffff;
    width: 92%;
    height: 50px;
    font-size: 15px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    padding: 10px 20px;
    border: none;
    border-radius: 1em;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(189, 189, 189, 0.6);
}

.btn:hover {
    transform: scale(1.07);
    background-color: #229251;
    color: white;
    box-shadow: 10px 10px 30px rgba(189, 189, 189, 0.6);
    border-radius: 10px;
}

.btn01 {
    background-color: #1d201d;
    color: #ffffff;
    width: 450px;
    margin-top: 20px;
    height: 55px;
    font-size: 15px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    padding: 10px 20px;
    padding-bottom: 55px;
    margin-top: 0px;
    border: none;
    border-radius: 1em;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(189, 189, 189, 0.6);
}

.btn01:hover {
    transform: scale(1.07);
    background-color: #229251;
    color: white;
    box-shadow: 10px 10px 30px rgba(189, 189, 189, 0.6);
    border-radius: 10px;
}

.btn02 {
    background-color: #1d201d;
    color: #ffffff;
    width: 450px;
    margin-top: 20px;
    height: 55px;
    font-size: 15px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    padding: 10px 20px;
    padding-bottom: 55px;
    margin-top: 0px;
    border: none;
    border-radius: 1em;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(189, 189, 189, 0.6);
}

.btn02:hover {
    transform: scale(1.07);
    background-color: #229251;
    color: white;
    box-shadow: 10px 10px 30px rgba(189, 189, 189, 0.6);
    border-radius: 10px;
}

hr {
    width: 90%;
    max-width: 700px;
    border: 1px solid rgb(233, 233, 233);
    margin: 0 auto;
    display: block;
    opacity: 0.7;
}

footer {
    background-color: #1d201d;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
}

.footer-icons-social-media {
    color: white;
    margin: 0 10px;
    transition: 0.3s;
}

.footer-icons-social-media:hover {
    color: #229251;
    margin: 0 10px;
}


@keyframes fade-in-class  {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;

    }
}

.fade-in-class {
    animation: fadeIn 0.1s ease-in-out;
    animation-fill-mode: forwards;
}