.text-justify{
    text-align: justify;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: left;
}

.dark-grey{
    color: #818181;
}
.soft-white{
    color: #ffffff;
}
.text-19px{
    font-size: 19px;
}