.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: left;
}

.dark-grey {
    color: #818181;
}

.darker-grey {
    color: #1d201d;
}

.soft-white {
    color: #ffffff;
}

.text-19px {
    font-size: 19px;
}

.pad {
    padding-right: 50px;
}

.gradient-background {
    /* background: white; */
    padding: 1.5em;
    padding-bottom: 0;
}

nav ul li {
    color: #40b9fa;
}

.light-blue {
    color: #40b9fa;
}

@media (max-width: 900px) {
    .text-justify {
        text-align: justify;
    }
    .text-left,
    .text-right {
        text-align: justify;
    }
}

@media (max-width: 480px) {
    .text-19px {
        font-size: 16px;
    }

    .pad-button {
        padding-right: 50px;
        padding-left: 50px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .pad {
        padding-right: 50px;
        padding-left: 50px;
    }

    .validornot {
        font-size: 0.9em
    }
}